body {
	background-color: white;
	color: black;
    	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
}

h1, h2, h3, h4{
	font-family: 'Source Code Pro', monospace;
	color: black;
}

p, a, li {
	font-family: 'Montserrat', sans-serif;
	color: black;
}

.container{
	display: flex;
	margin: auto;
	flex-direction: column;
}

.container p{
	font-size: 0.8rem;
}

#intro{
	width: 40vw;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
	background-color: white;
}

#subcontainer{
	background-color: white;
	margin: auto;
}

#subcontainer img{
	width: 100vw !important;
	background-size: cover;
    background-position: center;
}

#subcontainer p, h3{
	margin: 10px 180px 10px 180px !important;
}

header {
	display: flex;
	font-size: 0.9rem;
	flex-direction: row;
    align-items: center;
    justify-content: center;
	margin: 0;
	margin-top: 5px;
}

header a {
    text-decoration: none;
	display: flex;
	flex-direction: row;
    align-items: center;
    padding: 0 10px;
    height: 45px;
	transition: 200ms;
    color: black;
}

header a:hover {
	color: red;
}

header .active {
    color: black;
}
