body {
	background-color: white;
	color: black;
    margin: 0;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1, h2, h3, h4{
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	color: black;
}

p, a, li {
	font-family: 'Montserrat', sans-serif;
	color: black;
}

.container{
	width: 499px;
	height: 499px;
	margin: auto;
	padding: 30px;
}

.container p{
	font-size: 0.8rem;
}


